.hangmanDisplay {
  border: 3px solid #000;
  width: 800px;
  height: 800px;
  margin: 3rem auto;
  color: #000;
  text-align: center;
}

.hangmanContainer {
  border: 2px dashed #000;
  width: 600px;
  height: 600px;
  margin: 80px auto;
  position: relative;
}
.foundation {
  position: absolute;
  width: 200px;
  bottom: 100px;
  left: 50px;
  border: 20px solid #000;
  border-bottom: none;
}
.verticalPole {
  position: absolute;
  height: 400px;
  border: 5px solid #000;
  bottom: 120px;
  left: 150px;
}
.horizontalPole {
  position: absolute;
  width: 250px;
  border: 5px solid #000;
  bottom: 520px;
  left: 150px;
}
.diagonal {
  border-top: 5px solid #000;
  width: 105px;
  top: 120px;
  left: 150px;
  position: absolute;
  transform: skewY(-40deg);
}
.rope {
  border: 3px solid #000;
  height: 45px;
  width: 0px;
  top: 80px;
  position: absolute;
  left: 400px;
}
.head {
  position: absolute;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  top: 130px;
  left: 360px;
  border: 5px solid #000;
}
.body {
  position: absolute;
  height: 150px;
  border: 3px solid #000;
  left: 405px;
  top: 215px;

}
.arms {
  position: absolute;
  width: 120px;
  border-top: 5px solid #000;
  top: 270px;
  left: 350px;
}
.legLeft {
  border-top: 8px solid #000;
  width: 50px;
  top: 400px;
  left: 360px;
  position: absolute;
  transform: skewY(-60deg);
}
.legRight {
  border-top: 8px solid #000;
  width: 50px;
  top: 405px;
  left: 410px;
  position: absolute;
  transform: skewY(60deg);
}