.StartGame {
    display: flex;
    justify-content: center;
}

.StartGame button {
    color: white;
    background-color: rgb(122, 175, 221);
    width: 150px;
    height: 75px;
    font-size: 1.5rem;
    border-radius: 20px;
    margin: 1rem;
}

.StartGame button:hover {
    background-color: #31708B;
    cursor: pointer;
}